.recipe{
  padding: 3rem;
  min-height: 100vh;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

  &__link{
    font-weight: bold;
    border-bottom: 1px solid transparent;
    transition: .3s linear;

    &:hover{
      border-bottom: 1px solid black;
    }
  }

  &__info{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  &__image{
    width: 8%;
    height: auto;

    & img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__subscribe{
    width: 88%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  & div span{
    font-weight: bold;
  }

  ol{
    padding-left: 18px;
  }
}